@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

*{
  font-family: 'DM Serif Display', serif;
}

html, body {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body{
  background-image: url("../images/secretGarden.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
main {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100%;
}
h1{
  margin:0;
  font-size: 2.5em;
  text-decoration: underline;
  margin-bottom: 20px;
  color: #fff;
}

h2{
  margin: 0;
  margin-bottom: 10px;
  color: #fff;
}
h3{
  font-size: 1.8em;
}
a:link{
  text-decoration: none;
  color: #fff;
}
a:visited{
  color: #476762;
}
a:hover{
  color: #B06F63;
}
#bookmark-appWindow{
  width: 100%;
}

.title-section{
  width: 100%;
  padding-top: 20px;
  padding-left: 1%;
}
#plus{
  cursor: pointer;
}
.filterNAdd{
  margin: 0;
  margin-bottom: 5%;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
}
.filterNAdd h2 {
  margin: 0;
}
.filterNAdd #plus{
  margin-right: 10%;
  font-size: 1.8em;
}
.filterNAdd #filter-box{
  border: solid 3px #fff;
  font-size: 1em;
  padding: 8px 12px;
  align-self: flex-start;
  margin-left: 1%;
}
.filterNAdd #filter-box form{
  display: flex;
}
.filterNAdd #filter-box label{
  margin-right: 20px;
}
.bookmark-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
.bookmark-list li {
  flex-basis: 100%;
}
.bookmark-list li div.bookmark {
  border: solid #000 3px;
  padding: 10px 5px;
  padding-bottom: 20px;
  padding-left: 30px;
  margin: 1px;
  background: #C1BC98;
}
.bookmark-list div.more{
  cursor: pointer;
  font-size: 3em;
  margin-right: 4%;
}
.bookmark-list div.rating-box{
  border: none;
  font-size: 2em;
}

/* Change how Rating appears-----Might still do this, javascript maybe faster or more effecient EDIT: IT WAS*/
/*Four Stars*/
.bookmark-list div.rating-box.fourStars i:last-child{
  display: none;
}
/*Three Stars*/
.bookmark-list div.rating-box.threeStars i:nth-child(even){
  display: none;
}
/*Two Stars*/
.bookmark-list div.rating-box.twoStars i:nth-child(odd){
  display: none;
}


div.bookmark.inList{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div h4 {
  margin-top: 0;
}

/* Detailed Styles*/
.bookmarkDetails{
  width: 100%;
}
.inline-edit{
  cursor: pointer;
}
.errorbox:before{
  content: '';  
  width: 0;  
  height: 0;  
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #c51244;
  position: absolute;  
  top: -10px; 
}
.errorbox{
  background: #c51244;
  padding: 10px;
  border-radius: 0;
  position: relative; 
  display: inline-block;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: -24px;
  color: #fff;
  width: 50%;
}
.errorbox:before{
  content: '';  
  width: 0;  
  height: 0;  
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #AD7757;
  position: absolute;  
  top: -10px; 
}
.errorbox-form{
  background: #AD7757;
  padding: 10px;
  border-radius: 0;
  position: relative; 
  display: inline-block;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
  color: #fff;
  width: 90%;
  align-self: center;
}
.errorbox-form p {
  font-style: italic;
}
.detailedBookmark .errorbox p {
  margin: 0;
  margin-right: 2px;
}
.detailedBookmark h3{
  font-size: 2em;
}
.detailedBookmark{
  border: solid 3px #000;
  background-color: #fff;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.detailedBookmark .bookTitle-left-box{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.detailedBookmark .focusedBookmarkTitle{
  display: flex;
  justify-content: space-between;
  border-bottom: solid 3px #000;
  align-items: center;
}
.detailedBookmark .focusedBookmarkTitle .inline-edit.done{
  color: #fff;
  border-radius: 2px;
  border-width: 2px;
}
.detailedBookmark .focusedBookmarkContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}
.detailedBookmark .focusedBookmarkContent .rating-box{
  width: 100%;
  text-align: center;
  font-size: 2.5em;
}
.detailedBookmark .focusedBookmarkContent .visit-box{
  font-size: 2.2em;
  padding: 10px 15px;
  margin: 20px 0 10px;
}

.detailedBookmark .focusedBookmarkContent p {
  overflow-y: scroll;
  height: 150px;
  width: 100%;
}
/* Delete Button */
.detailedBookmark button {
  border-style: none;
  align-self: flex-end;
  color: #fff;
  background-color: #983037;
  cursor: pointer;
  font-size: 2.3em;
  padding: 10px 15px;
  margin-right: 2%;
}

/*-----------------------------------------------------------EDIT SCREEN STYLES---------------------------------------------**/
.bookmark-appWindow-edit{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 20px;
}
.bookmark-appWindow-edit form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 90%;
  padding: 0px;
}
.bookmark-appWindow-edit label{
  font-size: 30px;
  margin-bottom: 10px;
  color: #fff;
}
form input[type="text"]{
  margin-bottom: 20px;
  width: 100%;
  font-size: 1.8em;
}
.bookmark-appWindow-edit label[for="rating"]{
  width: 100%;
  display: flex;
  font-size: 2em;
  align-items: center;
  margin-bottom: 50px;
}
.bookmark-appWindow-edit label[for="rating"] div{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
input[type=radio] {
  border: 0px;
  width: 6%;
  height: 1.5em;
}

form fieldset{
  border: none;
  color: #fff;
  font-size: 2em;
  width: 100%;
  padding-left: 0;
}
form .radio-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form .radio-buttons label{
  margin: 0 ;
}

form #bookmark-description{
  white-space: normal;
  width: 100%;
  font-size: 1.3em;
}
form .button-section{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
form .button-section button{
  background-color: #476762;
  border-style: none;
  font-size: 2em;
  color: #fff;
  padding: 15px 20px;
  cursor: pointer;
}
.book-mark-edit-screen .content{
  border: solid 3px #000;
}

@media all and (min-width: 600px){
  h1{
    font-size: 4em;
    margin: 0;
  }
  #bookmark-appWindow{
    max-width: 1000px;
  }
  .filterNAdd{
    justify-content: space-around;
    margin-top: 5%;
  }
  .filterNAdd #plus{
    font-size: 3.8em;
  }
  .filterNAdd form {
    font-size: 2.0em;
  }
  .bookmark-appWindow-edit{
    align-items: center;
  }
  .bookmark-appWindow-edit label{
    font-size: 2em;
  }
  .detailedBookmark .focusedBookmarkContent .rating-box{
    font-size: 4.5em;
  }
}
@media all and (min-width: 700px){

}